@model Employee.Models.Emplyee

@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>Employee Details</h2>
<table style="font-family:'Times New Roman'">
    <tr>Employee ID</tr>
    <td>@Model.EID</td>
</table>